<%- include("./layouts/pdf_header"); -%>
    <div style="width: 80%; margin: auto;">
        <h1>Hlw <%=currentUser.name%>
        </h1>
        <h3>Here is your payment detail from this month</h3>
    </div>
    <%- include("./layouts/pdf_footer"); -%>