<%- include("./layouts/header"); -%>
    <div class="text-center">
        <h1> all about school </h1>
        <p>For checking dues </p>
        <a href="/dues/detail">Dues detail</a>
        <p>/dues/all route for managing dues after registration</p>
        <a href="/dues/all">first check dues here..</a>
        <p>After payment pdf here</p>
        <a href="/payment/pdf_detail">payment pdf here</a>
        <p>admin control</p>
        <p>admin home page</p>
        <a href="/admin/control">admin_home_page</a>
        <br>
        <a href="/payment/entered_detail">Fees submission at admin</a>
        <br>
        <a href="/registration/of_student">Registration status of many student</a>
        <br>
        <a href="/result">Redirect of result </a>
        <br>
        <a href="/result/student">Feeling information about result</a>



    </div>
    <%- include("./layouts/footer"); -%>