<%- include("./layouts/header"); -%>

    <div class="card" style="width:60% ;height:40%;margin: 10px auto;">
        <h3>you registration is successfully confirmed..</h3>
        <h3>please remember your user id</h3>
        <h3>your user id is: <%=registrationNumber %>
        </h3>
    </div>
    <%- include("./layouts/footer"); -%>